.node text {
    pointer-events: none;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}

.node text.token {
}

.node text.id {
    font-family: monospace;
}

.node circle {
    stroke-width: 1px;
    stroke: #777;
    fill: #888888;
}

.node circle:hover {
    stroke-width: 3px;
    stroke: #ccc;
}

.node circle.leaf {
    fill: #2e9d23;
}

.node circle.leaf.backref {
    fill: #ee3456;
}

path.edge {
    fill: none;
    stroke-width: 3px;
    stroke: #70b49b;
}
