.node text {
    pointer-events: none;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    fill: white;
}

.node text.token {
	color: yellow;
}

.node text.id {
    font-family: monospace;
}

.node text.leaf {
	fill: rgba(128,255,128,1);
}

.node text.leaf.backref {
	fill: white;
}

.node circle {
    stroke-width: 4px;
    stroke: rgba(255,255,255,0.4);
    fill: black;
}

.node circle:hover {
    stroke-width: 3px;
    stroke: #ccc;
}

.node circle.leaf {
    fill: #2b4623;
		stroke: green;
		stroke-width: 4px;
}

.node circle.leaf.backref {
    fill: #431e1b;
		stroke: red;
		stroke-width: 4px;
}

path.edge {
    fill: none;
    stroke-width: 4px;
    stroke: rgba(255,255,255,0.4);
}
